@media only screen and (max-width: 768px){
    .about_container{
        display: flex;
        flex-direction: column;
    }
    .about_me{
        display: flex;
        flex-direction: column;
        align-items: center;
        & svg{
            z-index: 1;
        }
        & .aboutme_text_container{
            margin-top: -1px;
        }
    }

    .photo_visage{
        display: flex;
        margin-top: 18px;
    }
    .parcour {
        box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.63);
        background-color: #219c90;
        color: white;
        border-radius: 4px;
        margin: 20px 20px 10px 20px;
        padding: 20px;


        & br{
            display: none
        }
    }
    .experiences{
        box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.63);
        background-color: #219c90;
        color: white;
        border-radius: 4px;
        margin: 0px 20px 10px 20px;
        padding: 20px;

        & br{
            display: none
        }
    }


}
