:root{
    --font: "Montserrat", "Helvetica", "Arial", sans-serif;
    --color: #092E37;

}
@media only screen and (min-width: 768px){
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        & .share-buttons-container{
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 80px;
            left: 50px;
            z-index: 7;
            & a{
                border: 0;
                background: none;
                margin-right: 10px;
                outline: none;
                cursor: pointer;



                &:hover{

                }
            }

        }
        & .header_image_desktop {
            width: 100%;
            z-index: 2;
        }
        & .header_image_mobile {
            display: none;
        }


        & .header_text {
            align-items: center;
            text-align: center;
            line-height: 5vw;
            z-index: 5;

            position: absolute;
            padding-bottom: 15vw;
            font-family: var(--font);
            font-size: 2.5vw;
            font-weight: 700;
            color: white;

        }

    }
    .button_menu{
        display: none;
    }

    .button{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .img_menu{
        height: 30px;
        width: 30px;
        margin: 5px;
    }
    #menu_bar {
        position: absolute;
        bottom: 0;
        z-index: 7;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        background-color: var(--color);
        color: white;
        box-shadow: inset 0px 12px 20px -10px rgba(0, 0, 0, 0.75);

        & p {
            padding: 10px;
            font-size: 22px
        }

        &.fixed{
            position:fixed;
            top:0;
            bottom: unset;
            width: 100%;
        }
        & a{
            flex: 1;
            cursor: pointer;
            height: 100%;
            text-align: center;
            color: white;
            font-size: 2em;
            font-family: var(--font);


            &:hover {
                background-color: #219c90;
                box-shadow: inset 0px 12px 20px -10px rgba(0, 0, 0, 0.75);



            }
        }

    }

    .indicator{
        width: 0;
        height: 3px;
        background-color: black;
        bottom: 0;
        transition: 0.3s all;

        &.active{
            width: 100%;
        }
    }


    #app-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        background-color: #dbe4e3;
        & a{
            cursor: pointer;
        }
        & .logoimg{
            width: 100%;
        }
        & .card{
            max-width: 300px;
        }
    }
    .trianglelogo{
        min-width: 100%;
    }
    .hautdelapage{

        width: 100%;
        height: 50px;
        background-image: url("../src/img/go-up.svg");
        background-size: cover;
        background-position: center;

    }
    @media screen and (min-width : 1400px){
        & .hautdelapage {
            background-size: contain;
        }
    }

}
