:root{
    --font: "Montserrat", "Helvetica", "Arial", sans-serif;
}
#app-container{
    & .card{
        margin: 20px;
        cursor: pointer;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        background-color: #ECECEC;
        &:hover{

            box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

        }
        &:visited{
            color: black;
            text-decoration: none !important;


        }
        & .header{
            padding: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            & .title{
                font-family: var(--font);
                font-style: normal;
                font-weight: bold;
                font-size: 1.3em;
                max-height: 25px;
                width: -webkit-stretch;
                text-align: justify;
                text-align: center;
                color: black;
                text-decoration: none;

                margin-bottom: 4px;

            }
            & .subtitle{
                margin-bottom: 8px;
                font-family: var(--font);
                font-size: 0.9em;
                max-height: 25px;
                width: -webkit-stretch;
                color: rgba(0,0,0,0.54);
                text-decoration: none;
                text-align: justify;
            }
        }
        & img{
            width: 100%;
            height: 150px;
        }
        & .short_text{
            font-family: var(--font);
            font-style: normal;
            font-weight: lighter;
            font-size: 1em;
            padding:10px;

        }
    }
}
